# Node modules
node_modules/

# Entornos y credenciales
.env
.env.*
*.key
*.pem
*.crt

# Archivos de configuración sensibles
config/*.json

# Salidas de logs y sistemas
logs/
*.log

# Sistema operativo
.DS_Store
Thumbs.db
# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android

